html,
body
  font-family: "Helvetica", sans-serif
  
.app
  width: 100vw
  height: 100vh
  display: grid
  margin-top: 2.2rem
  color: white

  .container
    border: 0.1rem solid $light-grey
    border-radius: 0.5rem
    padding: 2rem

  .punch-form
    place-self: center
    display: grid
    grid: 4rem 16rem 4rem / auto

    button
      background: $light-blue
      cursor: pointer
      height: 4rem
      padding: 1rem 2rem
      border-radius: 2rem
      font-size: 1.8rem
      text-transform: lowercase
      color: $white

      &:hover
        background: $dark-blue
        transition: 200ms linear

  .punch-list
    place-self: center